.App {
    text-align: center;
    overflow: hidden;
}
.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    color: white;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
.header{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:16px;
    font-family:'PingFang SC';
    font-weight:bold;
}

.header-left{
    width: 28%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}
.header-speed{
    width:120px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.header-sm{
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}
.header-mile{
    width:120px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.header-right{
    width: 28%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.header-battery{
    width:140px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
}

.shutdown{
    width:50px;
    height:50px;
    margin-right: 20px;
}

/**
** station
**/

.station{
    width: 100%;
    height: 158px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.station-sm-circle{
    width: 140px;
    height: 140px;
    background-size: 140px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.station-sm-circle-light{
    background-image: url('../images/station_circle_light.png');
}
.station-sm-circle-dark{
    background-image: url('../images/station_circle_dark.png');

}
.station-bg-circle{
    width: 160px;
    height: 160px; 
    background-image: url('../images/station_circle_bg.png'),url('../images/start_station_2.png'),url('../images/start_station_3.png');
    background-size: 160px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.station-pg{
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-image: url('../images/process_1.png');
}
.station-pg-animate{
    animation: Pg-animate infinite 3s linear;
}

.station-font-container{
    width:50px;
    height:30px;
    position: relative;
    overflow: hidden;
}
.station-font-item{
    position: absolute;
    white-space: nowrap;
    width: 100%;
    line-height: 30px;
    text-align: center;
    font-weight:bold;
    font-family:'PingFang SC';
}
.station-font-item:hover{
    animation: rotateFont 5s linear infinite;
}
.station-font-item:active{
    animation: rotateFont 5s linear infinite;
}
.station-bg-title{
    font-weight:bold;
    font-size: 14px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top:40px
}
.station-bg-color{
    font-size:20px;
    font-family:'PingFang SC';
    font-weight:bold;
    color:rgba(36,255,255,1);
}
/**
** map
**/
.map{
    position: absolute;
    bottom: 0;
    height: 520px;
    width: 100%;
    background-image: url('../images/map_background.png');
    background-size:100% 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-stopbtn{
    width: 260px;
    height: 80px;
    position: absolute;
    top:0px;
    right: 0px;
    z-index: 10;
    background-image: url('../images/stop_btn.png');
    background-size: 260px 80px;
    background-position:3px;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-stopbtn-font{
    position: absolute;
    right:50px;
    font-size:30px;
}
.map-container{
    width:932px;
    height:440px;
    margin-top: 15px;
}
.map-itself{
    width: 100%;
    height: 100%;
}
.amap-marker-label{
    border: 0;
    background-color: transparent;
    font-family:'PingFang SC';
}



.btn:hover{
    opacity: 0.7;
}
.btn:active{
    opacity: 0.3;
}

@keyframes Pg-animate {
    0% {background-image: url('../images/process_3.png');}
    50% {background-image: url('../images/process_2.png');}
    100% {background-image: url('../images/process_1.png');}
}


@keyframes rotateFont {
    0% { left: 0; }
    50% { left: -100%;}
    51% { right: -100%;}
    100% { right: -50%;}
}