.modal-container{
    background:rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    position:fixed;
    z-index:102;
    top:0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: show-item 0.3s ease-in forwards;/*调用动画，forwards作用：使动画停留在最后的100%*/
}
@keyframes show-item {
    0% {opacity: 0}
    50% {opacity: 0.5}
    100% {opacity: 1}
}


.begin-btn{
    width: 300px;
    height: 300px;
  
    display: flex;
    align-items: center;
    justify-content: center;
}
.begin-font{
    width: 150px;
    height: 150px;
    background-image: url('../images/begin.png');
    background-size: 150px 150px;
}
.begin-spin-circle{
    width: 300px;
    height: 300px;
    position: absolute;
    background-size: 300px 300px;
}
.circle-a{
    background-image: url('../images/circle_1.png');
    animation: Begin-btn-spin-right infinite 20s linear;
}
.circle-b{
    background-image: url('../images/circle_2.png');
    animation: Begin-btn-spin-right infinite 20s linear;

}
.circle-c{
    background-image: url('../images/circle_3.png');
    animation: Begin-btn-spin-left infinite 20s linear;
}
.circle-d{
    background-image: url('../images/circle_4.png');
    animation: Begin-btn-spin-left infinite 20s linear;
}
.circle-e{
    background-image: url('../images/circle_5.png');
    animation: Begin-btn-spin-left infinite 20s linear;
}
.circle-f{
    background-image: url('../images/circle_6.png');
    animation: Begin-btn-spin-right infinite 20s linear;
}



.carlist-panel{
    width: 620px;
    height: 500px;
    background-image: url('../images/carlist_panel.png');
    display: flex;
    flex-direction: column;
}
.carlist-panel-top{
    height: 135px;
    font-size:25px;
    font-family:'PingFang SC';
    font-weight:bold;
    color:rgba(95,250,255,1);
    display: flex;
    align-items:flex-end;
    justify-content: center;
    padding-bottom: 10px;
}

.carlist-panel-line{
    height:10px;
    background-image: url('../images/border.png');
    background-repeat:no-repeat;
    background-position:center;
}
.carlist-panel-body{
    height: 340px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    overflow: scroll;
}

.carlist-panel-bottom{
    height: 115px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.carlist-bottom-btn{
    width: 140px;
    height: 50px;
    background-image: url('../images/catlist_btn.png');
    font-size:18px;
    font-family:'PingFang SC';
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height: 50px;
}



.immediate-container{
    width: 410px;
    height:370px;
    position: absolute;
    bottom: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.immediate-time{
    width: 250px;
    height: 250px;
    font-size:60px;
    font-family:'PingFang SC';
    font-weight:bold;
    color:rgba(36,255,255,1);
    line-height: 250px;
    text-align: center;
    
}

.immediate-time-circle{
    width: 250px;
    height: 250px;
    background-size: 250px 250px;
    position: absolute;
}
.immediate-time-circle-1{
    background-image: url('../images/immediate-time_1.png');
    animation: Begin-btn-spin-right infinite 20s linear;
}
.immediate-time-circle-2{
    background-image: url('../images/immediate-time.png');
    animation: Begin-btn-spin-left infinite 20s linear;
}
.immediate-btn-con{
    display: flex;
    flex-direction: row;
}
.immediate-btn{
    width: 200px;
    height: 80px;
    
    background-size: 200px 80px;
    font-size:30px;
    font-family:'PingFang SC';
    font-weight:bold;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height: 80px;
}
.immediate-btn-shutdown{
    background-image: url('../images/immediate-shutdown.png');
}
.immediate-btn-begin{
    background-image: url('../images/immediate-btn.png');
}
.immediate-btn:hover{
    opacity: 0.7;
}
.immediate-btn:active{
    opacity: 0.3;
}
.immediate-warn{
    width: 360px;
    height: 40px;
    background-image: url('../images/immediate-warn.png');
    background-size: 360px 40px;
    font-size:12px;
    font-family:'PingFang SC';
    font-weight:bold;
    color:rgba(36,255,255,1);
    line-height: 40px;
    text-align: center;
}


.shutdown-container{
    width:403px;
    height: 246.5px;
    background-image: url('../images/shutdown_con.png');
    display: flex;
    flex-direction: column;
}
.shutdown-warn{
    height: 120px;
    font-size:24px;
    font-family:'PingFang SC';
    font-weight:bold;
    color:rgba(36,255,255,1);
    line-height: 150px;
}
.shutdown-btn-con{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.shutdown-btn{
    width: 140px;
    height: 50px;
    background-image: url('../images/shutdown_btn.png');
    background-size: 140px 50px;
    line-height: 50px;
    font-size:18px;
    font-family:'PingFang SC';
    font-weight:bold;
    color:rgba(255,255,255,1);
}

.btn:hover{
    opacity: 0.7;
}
.btn:active{
    opacity: 0.3;
}

@keyframes Begin-btn-spin-right {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes Begin-btn-spin-left {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  ::-webkit-scrollbar
  {
      width: 0px;
      height: 0px;
      backgroud-color: transparent;
  }
   
  ::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
      background-color: transparent;
  }